{% extends "base.html" %}
{% block title %}<title>資料表修改</title>{% endblock %}
{% block content %}

<main>
	<div class="container">
  		<h2>document 資料表修改</h2>
  		<form action="/edit/{{unit.id}}/save" method="POST" name="form1">
			{% csrf_token %}
			<table class="table table-striped table-hover">
			  <tr>
				<th>Class</th>
				<td ><input type="text" id="cClassName" name="cClassName" value={{unit.cClassName}}></td>
			  </tr>		  
			  <tr>
				<th>Description</th>
				<td><input type="text" id="cClassDescription" name="cClassDescription" value={{unit.cClassDescription}}></td>
			  </tr>
			  <tr>
				<th >Overview</th>
				<td><input type="text" id="cClassOverview" name="cClassOverview" value={{unit.cClassOverview}}></td>
			  </tr>
			</table>
			<input type="submit" name="button" id="button" value="送出">
			<input type="reset" name="button2" id="button2" value="重設">
			<span style="color:red">{{message}}</span>
  		</form>
	</div>
</main>
{% endblock %}